.cardBox1 {
    position: relative;
    width: 270px;
    height: 370px;
    background-image: url(../images/card1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin-bottom: 20px;
    overflow: hidden;
}
.cardBox2 {
    position: relative;
    width: 270px;
    height: 370px;
    background-image: url(../images/card2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin-bottom: 20px;
    overflow: hidden;
}
.cardBox3 {
    position: relative;
    width: 270px;
    height: 370px;
    background-image: url(../images/card3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin-bottom: 20px;
    overflow: hidden;
}
.cardBox4 {
    position: relative;
    width: 270px;
    height: 370px;
    background-image: url(../images/card4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin-bottom: 20px;
    overflow: hidden;

}
.iconSet{
    width: 300px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 10px 70px;
    justify-content: space-between;
    background-color: #dc143c8c;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.2s ease;
}
.cardBox1:hover .iconSet{
    transform: translateY(0);
    opacity: 1;
}
.cardBox2:hover .iconSet{
    transform: translateY(0);
    opacity: 1;
}
.cardBox3:hover .iconSet{
    transform: translateY(0);
    opacity: 1;
}
.cardBox4:hover .iconSet{
    transform: translateY(0);
    opacity: 1;
}